*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #2c3e50;
}

.main-section{
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder{
  width: 100%;
  background: #fff;
  margin: 30px auto;
  position: relative;
}

.stopwatch{
  padding: 60px;
  text-align: center;
}

.stopwatch span{
  background: #00aba9;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}
