*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #2c3e50;
}

.main-section{
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder{
  width: 100%;
  background: #fff;
  margin: 30px auto;
  position: relative;
}

.stopwatch{
  padding: 60px;
  text-align: center;
}